<div class="container mx-auto px-6 py-6 bg-white dark:bg-slate-800 dark:text-white bg-opacity-80 ">
    <div class="flex items-center justify-center">
        <div class="w-full px-2 py-2">
            <div class="flex justify-center">
                <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700 dark:text-white">Contáctanos
                </p>
            </div>
            <div class="w-full rounded-lg p-6 mb-8">
                <div class="flex flex-col items-center gap-1 mb-8">
                    <p class="mt-2 text-gray-500 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed
                        do eiusmod
                        tempor incididunt ut labore et dolore magna
                        aliqua. Morbi blandit cursus risus at. Aliquam purus sit amet luctus venenatis lectus magna
                        fringilla urna. Diam quam
                        nulla porttitor massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna
                        aliqua. Morbi blandit cursus risus at. Aliquam purus sit amet luctus venenatis lectus magna
                        fringilla urna. Diam quam
                        nulla porttitor massa.</p>
                </div>
                <form class="flex flex-col" action="/home">
                    <div class="w-full flex flex-col md:flex-row">
                        <div class="md:w-6/12 flex flex-col">
                            <label
                                class="text-base font-semibold leading-none text-gray-800 dark:text-white">Nombre</label>
                            <input tabindex="0" type="name"
                                class="p-3 mt-4 placeholder-gray-400 w-full border border-gray-400 rounded-md outline-none"
                                placeholder="Ingresa tu nombre" />
                        </div>
                        <div class="md:w-6/12 flex flex-col md:ml-6 md:mt-0 mt-4">
                            <label class="text-base font-semibold leading-none text-gray-800 dark:text-white">Correo
                                Electrónico</label>
                            <input tabindex="0" type="name"
                                class="p-3 mt-4 placeholder-gray-400 w-full border border-gray-400 rounded-md outline-none"
                                placeholder="Ingresa tu correo electrónico" />
                        </div>
                    </div>
                    <div class="w-full flex flex-col md:flex-row mt-4">
                        <div class="md:w-6/12 flex flex-col">
                            <label
                                class="text-base font-semibold leading-none text-gray-800 dark:text-white">Teléfono</label>
                            <input tabindex="0" type="name"
                                class="p-3 mt-4 placeholder-gray-400 w-full border border-gray-400 rounded-md outline-none"
                                placeholder="Ingresa tu número de teléfono" />
                        </div>
                        <div class="md:w-6/12 flex flex-col md:ml-6 md:mt-0 mt-4">
                            <label class="text-base font-semibold leading-none text-gray-800 dark:text-white">Asunto o
                                Motivo</label>
                            <input tabindex="0" type="name"
                                class="p-3 mt-4 placeholder-gray-400 w-full border border-gray-400 rounded-md outline-none"
                                placeholder="Ingresa asunto o motivo de contacto" />
                        </div>
                    </div>
                    <div class="w-full flex flex-col mt-4">
                        <label
                            class="text-base font-semibold leading-none text-gray-800 dark:text-white">Mensaje</label>
                        <textarea tabindex="0" type="name"
                            class="h-36 p-3 mt-4 placeholder-gray-400 w-full border border-gray-400 rounded-md outline-none resize-none"
                            placeholder="Ingresa tu mensaje"></textarea>
                    </div>
                    <p class="text-xs leading-3 text-gray-600 dark:text-gray-200 mt-4">Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua.</p>
                    <div class="flex items-center justify-center w-full">
                        <button type="button"
                            class="mt-9 text-base font-semibold leading-none text-white py-4 px-10 bg-blue-500 rounded hover:bg-blue-600 focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 focus:outline-none">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>