<div class="min-h-screen container mx-auto px-6 py-6 bg-white dark:bg-slate-800 dark:text-white bg-opacity-80">
    <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700 dark:text-white">¿Quiénes Somos?</p>
    <div class="md:flex mt-8 md:-mx-4">
        <div class="w-full h-64 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Nosotros</h2>
                    <p class="mt-2 text-gray-800 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi
                        tempus
                        imperdiet nulla.</p>
                </div>
            </div>
        </div>
        <div class="w-full h-64 mt-8 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Misión</h2>
                    <p class="mt-2 text-gray-800 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi
                        tempus
                        imperdiet nulla.</p>
                </div>
            </div>
        </div>
        <div class="w-full h-64 mt-8 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Visión</h2>
                    <p class="mt-2 text-gray-800 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi
                        tempus
                        imperdiet nulla.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- nuestras tiendas -->
    <p class="md:text-3xl mt-10 text-xl font-bold leading-7 text-center text-gray-700 dark:text-white">Nuestras Tiendas
    </p>
    <div class="md:flex mt-4 md:-mx-4">
        <div class="w-full h-80 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Guatemala</h2>
                    <iframe class="iframe mt-2"
                        src="https://maps.google.com/?ll=14.6406006,-90.5117541&z=14&t=m&output=embed" height="250"
                        width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="w-full h-80 mt-8 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Escuintla</h2>
                    <iframe class="iframe mt-2"
                        src="https://maps.google.com/?ll=14.2912021,-90.7881841&z=14&t=m&output=embed" height="250"
                        width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="w-full h-80 mt-8 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Villa Nueva</h2>
                    <iframe class="iframe mt-2"
                        src="https://maps.google.com/?ll=14.528555,-90.5898236&z=14&t=m&output=embed" height="250"
                        width="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>