<div class="min-h-screen container mx-auto px-6 py-6 bg-white dark:bg-slate-800 dark:text-white bg-opacity-80">
    <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700 dark:text-white">¿Quiénes Somos?</p>
    <div class="md:flex mt-8 md:-mx-4">
        <div class="w-full h-64 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Nosotros</h2>
                    <p class="mt-2 text-gray-800 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi
                        tempus
                        imperdiet nulla.</p>
                </div>
            </div>
        </div>
        <div class="w-full h-64 mt-8 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Misión</h2>
                    <p class="mt-2 text-gray-800 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi
                        tempus
                        imperdiet nulla.</p>
                </div>
            </div>
        </div>
        <div class="w-full h-64 mt-8 md:mx-2 rounded-md overflow-hidden bg-cover bg-center md:mt-0 md:w-1/3">
            <div class="flex items-center h-full">
                <div class="px-5 max-w-xl">
                    <h2 class="text-3xl text-center text-blue-500 font-semibold">Visión</h2>
                    <p class="mt-2 text-gray-800 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do
                        eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Morbi blandit cursus risus at ultrices mi
                        tempus
                        imperdiet nulla.</p>
                </div>
            </div>
        </div>
    </div>
</div>